# SEPTEMBER 18 2025
# .env CONFIG EXAMPLE
# CREATE A .env FILE WITH THESE VARIABLES AND ADD YOUR OWN VALUES


# ----------------------ADDED BY SAMIP REGMI---------------------------

# MONGO CONFIFS
MONGO_URI=mongodb://localhost:27017/mcq_db

# SQL CONFIGS
# ENGINE DONT CHANGE
ENGINE=django.db.backends.mysql
NAME=
DB_USER=
DB_PASSWORD=
HOST=localhost
DB_PORT=3306


# DJANGO CONFIGS
SECRET_KEY='7^j0v*8ac7(8likfv4*9z()1v&m%c1+3=(w4!wbsi$182%lmo!'

# ---------------------------------------------------------------------