# FOR BACKEND
.env
__pycache__/
*.pyc
migrations/
*.log
*.sqlite3
/sisani/

# FOR REACT AND NODE
react_frontend/node_modules/
react_frontend/.pnp
react_frontend.pnp.js
react_frontend/coverage
react_frontend/build
react_frontend.DS_Store
react_frontend.env.local
react_frontend.env.development.local
react_frontend.env.test.local
react_frontend.env.production.local
react_frontend/npm-debug.log*
react_frontend/yarn-debug.log*
react_frontend/yarn-error.log*