.env
django_backend/mcq_project/__pycache__/
django_backend/signup_app/__pycache__/
django_backend/signup_app/migrations/
django_backend/signin_app/__pycache__/
django_backend/signin_app/migrations/
django_backend/sqldb_app/__pycache__/
django_backend/sqldb_app/migrations/
django_backend/user_data/__pycache__/
django_backend/user_data/migrations/
django_backend/mongodb_app/__pycache__/
django_backend/mongodb_app/migrations/
django_backend/mongodb_app/*.pyc
django_backend/create_category/__pycache__/
django_backend/create_category/migrations/
django_backend/create_category/*.pyc
django_backend/create_subcategory/__pycache__/
django_backend/create_subcategory/migrations/
django_backend/create_subcategory/*.pyc
django_backend/create_subsubcategory/__pycache__/
django_backend/create_subsubcategory/migrations/
django_backend/create_subsubcategory/*.pyc
django_backend/get_categories/__pycache__/
django_backend/get_categories/migrations/
django_backend/get_categories/*.pyc
django_backend/create_question/__pycache__/
django_backend/create_question/migrations/
django_backend/create_question/*.pyc
django_backend/select_questions/__pycache__/
django_backend/select_questions/migrations/
django_backend/select_questions/*.pyc
django_backend/user_attempts/migrations/
django_backend/user_attempts/__pycache__/
db.sqlite3

# FOR REACT AND NODE
react_frontend/node_modules
react_frontend/.pnp
react_frontend.pnp.js
react_frontend/coverage
react_frontend/build
react_frontend.DS_Store
react_frontend.env.local
react_frontend.env.development.local
react_frontend.env.test.local
react_frontend.env.production.local
react_frontend/npm-debug.log*
react_frontend/yarn-debug.log*
react_frontend/yarn-error.log*

/sisani/
