.editor-field-holder .codex-editor {
  max-width: 100%;
}
.editor-field-holder .codex-editor__redactor {
  padding: 0 !important;
  margin: 0 !important;
}
.editor-field-holder .ce-block__content {
  max-width: 100% !important;
  margin: 0 !important;
}
.editor-field-holder .ce-toolbar__content {
  max-width: 100% !important;
  margin: 0 !important;
}
