.editor-field-holder .codex-editor {
  max-width: 100%;
}
.editor-field-holder .codex-editor__redactor {
  padding: 0 !important;
  margin: 0 !important;
}
.editor-field-holder .ce-block__content {
  max-width: 100% !important;
  margin: 0 !important;
}
.editor-field-holder .ce-toolbar__content {
  max-width: 100% !important;
  margin: 0 !important;
}
.note-editor .codex-editor--narrow .ce-toolbar__actions {
  right: 100% !important;
  left: auto !important;
}

.note-editor .codex-editor--narrow .ce-toolbar__plus {
  left: 0 !important;
  right: auto !important;
}

body > div:has(iframe[src*="recaptcha"]) {
  z-index: 200 !important;
  pointer-events: auto !important;
}

.recaptcha-field iframe {
  max-width: none;
  height: 78px;
  width: 304px;
}

.editor-field-holder .ce-block__content,
.editor-field-holder .ce-paragraph,
.editor-field-holder .ce-header,
.editor-field-holder .cdx-list__item {
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: pre-wrap;
}
